@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Noto Serif Bengali", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "width" 100;
  }

.shadowCustom{
    box-shadow: 0px 3px 8px 0px #0B2A63;
  }

  @media(min-width:375px){
    .pharmaCard{
      width: 186px;
      height: 183px;
    }  
    .heading1{
      font-size: 33px;
    }
    .heading2{
      font-size: 24.5px;
    }
    .oceanheading1{
      font-size: 27px !important;
    }
    .tailorheading1{
      font-size: 25.8px;
    }
    .transportheading1{
      font-size: 24.8px;
    }
    .travelheading1{
      font-size: 26.6px;
    }
    .ionichealthheading1{
      font-size: 24.3px;
    }
    .erpheading1{
      font-size: 27px;
    }
    .karmocharyheading1{
      font-size: 27px;
    }
    .shopheading1{
      font-size: 28.2px;
    }
    .pharmaheading1{
      font-size: 27px;
    }
    .shikkhaheading1{
      font-size: 27px;
    }
    .goheading1{
      font-size: 26.6px;
    }
    .bikroyheading1{
      font-size: 27px;
    }
    .restauraheading1{
      font-size: 25.6px;
    }
    .bharaheading1{
      font-size: 27px;
    }
  }

  @media (min-width: 425px) {
    .heading1{
      font-size: 38px;
    }
    .heading2{
      font-size: 28.5px;
    }
    .oceanheading1{
      font-size: 31px !important;
    }
    .tailorheading1{
      font-size: 29.7px;
    }

 
    .transportheading1{
      font-size: 28.6px;
    }
    .travelheading1{
      font-size: 30.6px;
    }
    .ionichealthheading1{
      font-size: 28px;
    }
    .erpheading1{
      font-size: 31px;
    }
    .karmocharyheading1{
      font-size: 31px;
    }
    .shopheading1{
      font-size: 32.4px;
    }
    .pharmaheading1{
      font-size: 31px;
    }
    .shikkhaheading1{
      font-size: 31px;
    }
    .goheading1{
      font-size: 31px;
    }
    .bikroyheading1{
      font-size: 31px;
    }
    .restauraheading1{
      font-size: 29.5px;
    }
    .bharaheading1{
      font-size: 31px;
    }
  .pharmaCard{
    width: 211px;
    height: 183px;
  }   
  .erpwoodCard{
    width: 211px;
    height: 192px;
  }   
 
  }

  @media (min-width: 1360px) {
    .mainHome{
      margin-left: 203px !important;
      margin-right: 203px !important;
    }
    .mainerp{
      margin-left: 200px !important;
      margin-right: 200px !important;
    }
  }
  @media (min-width: 1400px) {
 
    .mainHome{
      margin-left: 223px !important;
      margin-right: 223px !important;
    }
    .mainerp{
      margin-left: 219px !important;
      margin-right: 219px !important;
    }
  }
  @media (min-width: 1440px) {
   
    .mainHome{
      margin-left: 243px !important;
      margin-right: 243px !important;
    }
    .mainerp{
      margin-left: 240px !important;
      margin-right: 240px !important;
    }
  }
 
  @media (min-width: 1600px) {
    
    .mainHome{
      margin-left: 273px !important;
      margin-right: 273px !important;
    }
  

  }
  @media (min-width: 1680px) {
    
    .mainHome{
      margin-left: 312px !important;
      margin-right: 312px !important;
    }

  }
 @media (min-width: 1920px) {
    .heading1{
      font-size: 39px !important;
    }
    .heading2{
      font-size: 29.5px !important;
    }
   
    .mainHome{
      margin-left: 397px !important;
      margin-right: 397px !important;
    }
    .erpheading1{
      font-size: 30.6px !important;
    
    }
    .goheading1{
      font-size: 30px !important;
      padding-bottom: 20px;
    }
    .karmocharyheading1{
      font-size: 31px !important;
    }
    .pharmaheading1{
      font-size: 28px !important;
    }
    .transportheading1{
      font-size: 26.3px !important;
    }
    .erpheading2{
      padding-bottom: 20px;
    }
    .restauraheading1{
      font-size: 26.5px !important;
    }
    .bharaheading1{
      font-size: 28px !important;
    }
    .tailorheading1{
      font-size: 26.6px !important;
    }
    .travelheading1{
      font-size: 27.2px !important;
    }
    .ionichealthheading1{
      font-size: 26px !important;
    }
    .shopheading1{
      font-size: 30px !important;
    }
    .shikkhaheading1{
      font-size: 32.3px !important;
    }
    .bikroyheading1{
      font-size: 27.5px !important;
    }
    .leftOnurodh{
      padding-top: 142px !important;
    }
    .onurodhleft{
      padding-bottom: 48px;
      padding-top: 48px !important;
    }
    .onurodhleftpharma{
      padding-top: 32px !important;
    }
    .onurodhleftshikkha{
      padding-top: 70px !important;
    }
    .onurodhleftocean{
      padding-top: 40px !important;
    }
    .onurodhlefttailor{
      padding-top: 45px !important;
    }
    .onurodhleftionichealth{
      padding-top: 105px !important;
    }
    .onurodhleftchemical{
      padding-top: 60px !important;
      margin-bottom: 10px !important;
    }
    .leftonurodhloan{
      padding-top: 85px !important;
      margin-bottom: 10px !important;
    }
    .leftonurodhagriculture{
      padding-top: 100px !important;
      margin-bottom: 10px !important;
    }
    .leftOnurodhkarmochary{
      padding-top: 28px !important;
    }
    .onurodhright{
      padding-top: 30px !important;
    }
    .onurodhrightgo{
      padding-top: 82px !important;
    }
    .onurodhrightmanufacture{
      padding-top: 58px !important;
    }
    .onurodhrighthealthcare{
      padding-top: 165px !important;
    }
    .onurodhrightkarmochary{
      padding-top: 45px !important;
    }
    .onurodhrightresaura{
      padding-top: 44px !important;
    }
    .onurodhrighthealtherp{
      padding-top: 105px !important;
    }
    .onurodhrightshop{
      padding-top: 52px !important;
    }
    .onurodhrightbikroy{
      padding-top: 45px !important;
    }
    .bannerimg{
      width: 300px !important;
      bottom:0px !important;
    }
    .bannerimghome{
      width: 300px !important;
      bottom:-29px !important;
    }
    .bannerTExt{
      width: 60% !important;
    }
  
  }
